{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">
      <div class="col text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
        <h4>We structure your documents</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h5>Do you have lots of documents?</h5>
        <p>
          Probably it's not easy to quickly find information if you have more than 30-40 documents or thousands of items to search from. 
          This is where Orderly comes in.  Orderly allows documents to be structured and displayed in such a way that users can find information faster. A search engine that is better than currently available options can save you time too. It's based on state of the art deep learning algorithms, and can be easily scaled or fine-tuned. Contact us to learn more.
        </p>
      </div>
    </div>
  </div>
</section>
