{{- $fragment := .self.Params -}} 
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<meta name="yandex-verification" content="4ce3351dc914136d" />
<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">
      <div class="col text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
        <h4>We structure your documents</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h5>Do you have lots of documents?</h5>
        <div class="col text-left">
        <p>
          Probably it's not easy to quickly find information if you have more than 30-40 documents or thousands of items to search from. 
          This is where Orderly comes in. Orderly allows documents to be structured and displayed in such a way that users can find information faster. A search engine that is better than currently available options can save you time too. It's based on state of the art deep learning algorithms, and can be easily scaled or fine-tuned. 
        </p>
        <p> 
          Orderly is a startup based in Kazakhstan that strives to improve how organisations store their documents. We create a document structure that enables your clients to faster find the information they are looking for.
        </p>
        <p> 
          We are experts in natural language processing and created a comprehensive search tool that doesn't just look for keywords that you typed, but tries to understand what you are looking for semantically.
        </p>
        <p>
          Orderly provides cloud-native production ready search framework based on deep learning algorithms. Our solution is easily scalable with support for async, replicas and sharding.
        </p>
        <p>
          We enable large scale index and semantic search for any text.
          But that is not the only thing - we also created an engine that can analyse what users are clicking and whether or not they found what they needed... in order to improve the search model for the next users!
          With time, our search engine becomes better and better! The more your clients search through Orderly engine - the better results they get.
          <ol>Some use cases:
            <li>search for ecommerce</li>
            <li>search for legal entities</li>
            <li>search for financial institutions</li>
          </ol>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
